@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  padding: 0;
  font-size: 15.5px;
  font-family: "Roboto", arial, verdana, sans-serif;
}

.logoheading {
  max-width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  text-align: center;
  padding: 15px;
}

.logoheading h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  color: white;
}

.padbox {
  padding: 15px;
}

.padbox-left {
  padding: 15px 15px 15px 0;
}

.padbox-right {
  padding: 15px 0 15px 15px;
}

.header {
  background: #f5f5f5;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.errorHeader {
  background: #ff6969;
  color: white;
  font-size: 125%;
  text-align: center;
  padding: 15px;
}

.hide {
  display: none;
}

.show {
  display: show;
}

.input-area {
  width: 75vw;
  margin: 0 auto;
}

a,
a:hover,
a:focus {
  color: #555;
  text-decoration: none;
}

form {
  margin: 0;
  padding: 0;
}

.tickerInput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  font-size: 150%;
  background: #e3e3e3;
  border: 1px solid #ccc;
  font-weight: 100;
  color: #333;
  margin-bottom: 15px;
}

.tickerInputLoading {
  background: #ffb65f;
  color: white;
  border: 1px solid #ffa234;
}

.tickerSubmit {
  width: 100%;
  background: #333;
  color: white;
  font-size: 125%;
  font-weight: bold;
  padding: 15px;
  border: none;
}

.quoteBox {
  background: #333;
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.quoteBoxName {
  background: #222;
  padding: 2px 10px;
  text-align: center;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.quoteBoxName h3 {
  font-size: 0.9em;
  color: #ccc;
}
.quoteBoxMain {
  background: #333;
  padding: 25px 15px;
  text-align: center;
}
.quoteBoxMain h3 {
  font-size: 1.8em;
  padding: 0 0 15px;
  margin: 0;
  color: white;
}

h3.marketState {
  font-size: 1.2em;
  font-weight: bold;
  color: #ccc;
  padding-bottom: 15px;
  margin: 0;
}
h3.volumeDisplay {
  font-size: 1.2em;
  font-weight: bold;
  color: #ccc;
  padding: 0;
  margin: 0;
}

.quoteBoxVol {
  background: #515151;
  padding: 10px;
  color: #ccc;

  font-size: 110%;
}

.quoteBoxTools {
  padding: 10px;
  color: #555;
  font-size: 105%;
}

.quoteBoxTop {
  background: #4a4a4a;
}
.quoteBoxTicker {
  position: relative;
  top: 2px;
  padding: 10px;
  color: #ccc;
  font-size: 1.3em;
}

.quoteBoxStatus {
  position: relative;
  top: 5px;
  padding: 10px;
  color: #ccc;
  font-size: 1em;
  text-align: right;
}

.tickerName {
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.3;
  color: rgb(5, 15, 25) !important;
  font-size: 18px;
  font-weight: 400;
}

a.tickerName:hover {
  text-decoration: underline;
}

.tickerSymbol {
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.3;
  color: rgba(17, 51, 83, 0.6) !important;
  font-size: 18px;
  font-weight: 400;
}

.control,
.control:focus {
  cursor: pointer;
  color: rgba(17, 51, 83, 0.6);
  text-decoration: none;
  display: inline-block;
}

.green {
  color: rgb(5, 177, 105);
}

.red {
  color: #ff5959;
}

.grey {
  color: rgba(17, 51, 83, 0.6);
}

.infobox {
  background: #d2d2d2;
  padding: 15px;
  font-size: 100%;
  color: #444;
}

.volume {
  font-weight: bold;
  color: white;
}

.cb-table-section {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  margin: 25px auto;
  flex-direction: column;
  padding: 0px;
  max-width: 1200px;
  border: 1px solid rgb(236, 239, 241);
  border-radius: 4px;
  box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0;
}

.cb-div {
  width: 100%;
}

.cb-table {
  width: 100%;
  padding: 0px;
  background: rgb(255, 255, 255);
  border-spacing: 0px;
  border-collapse: separate;
  caption-side: top;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.cb-table thead {
  border: none;
}

.cb-table thead tr {
  border-bottom: 1px solid rgb(236, 239, 241);
}

.cb-table thead th:first-child {
  padding-left: 32px;
}
.cb-table thead th {
  padding: 16px 16px 16px 0px;
  text-align: left;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(17, 51, 83, 0.6);
  transition: color 80ms ease-in-out 0s;
}

.cb-table tbody {
  padding: 0px;
  border: none;
  transition: opacity 300ms ease 0s;
}

.cb-table tbody tr {
  background: rgb(255, 255, 255);
  user-select: none;
}

.cb-table tbody td {
  padding: 14px 48px 14px 0px;
  border-top: 1px solid rgb(236, 239, 241);
  cursor: default;
  position: relative;
}

.cb-price {
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.3;
  color: rgb(5, 15, 25);
  font-size: 18px;
  font-weight: 400;
}

.cb-table .centerit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 100%;
  top: 0px;
  opacity: 0;
  padding: inherit;
  transition: opacity 0.25s ease 0s;
}
.cb-table .centeritem {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: -6px;
  color: black !important;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 13.5px;
  }

  .input-area {
    width: 100%;
  }
  .padbox-left,
  .padbox-right {
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .quoteBoxTicker {
    text-align: center;
  }

  .quoteBoxStatus {
    text-align: center;
    position: static;
  }
}
